:root {
  --primary-color: rgb(28, 66, 146);
}

body {
  background-color: #1c4292;
}

h1 {
  color: azure;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

input {
  margin: 40px 10px 0px 0px;
}

.password-div {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reveal-box {
  color: var(--primary-color);
  background-color: azure;
  padding: 0px;
  margin-left: 5px;
}

.check-label {
  color: azure;
  margin-right: 0;
  margin-left: 5px;
}

.submit-div {
  width: 100px;
  margin: 0 auto 0 auto;
}

.success {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #5eed42;
}

.fail {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #f24343;
}

.requirements {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #f24343;
  width: 250px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
